@charset "UTF-8";

/* 초기화 */
*{
    margin: 0; padding: 0;
}
a{text-decoration: none;}
img{border: 0;}
ul{list-style: none;}
/* 메인 헤더 */
ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-left: 200px;
    margin-top: 0;
}

li {
    margin-top: -20px;
    float: right;
    list-style: none;
    color: black;
}


/* 푸터 */
footer{
    background-color: black;
    color: white;
    height: 300px;
    width: 1440px;
    top: 100%;
    margin: 0 auto;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    .menubar{
        display: none;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #gnb{
        display: none;
    }
    .menubar{
        display: block;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
    #gnb{
    display: none;
}
.menubar{
    display: block;
}
}
