@charset "UTF-8";

/* 초기화 */
*{
    margin: 0; padding: 0;
}
a{text-decoration: none;}
img{border: 0;}
ul{list-style: none;}
html{
    background-color: #f1f3f5;
}
/* 메인 헤더 */
ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-left: 200px;
    margin-top: 0;
}

li {
    margin-top: -20px;
    float: right;
    list-style: none;
    color: black;
}

.main_header{
    margin-left: 10%;
}

.menubar{
    margin-top: -30px;
}

/* 푸터 */
footer{
    background-color: black;
    color: white;
    height: 300px;
    width: 1440px;
    top: 100%;
    margin: 0 auto;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    .menubar{
        display: none;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #gnb{
        display: none;
    }
    .menubar{
        display: block;
    }
    .main_item section:nth-child(2) aside:nth-child(1){
        display: none;
    }
    .main_item section:nth-child(2) article{
        margin-left: 0;
    }
    .sub_aside{
        margin-left: -20px;
    }
}

@media all and (max-width:767px) { 
    #gnb{
    display: none;
}
.menubar{
    display: block;
}
.main_item section:nth-child(2) aside:nth-child(1){
    display: none;
}
.txt_bucket{
    width: auto;
    margin: 0 auto;
}

.main_item section:nth-child(2) article{
    margin: 0 auto;
    font-size: 13px;
    width: 570px;
    margin-top: 30px;
    margin-left: 30px;
}
.sub_aside{
    display: none;
}
#main_bucket .all_bucket .txt_bucket{
    left: 0;
}
.slide{
    width:100%;
    position:absolute;
    left:-100%;
    top:0;
    right:0;
    bottom:0;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    background-color:#cccccc;
}
}

