@charset "UTF-8";

/* 메인 */

.main_item .main_container{
    width: 1440px;
    margin: 0 auto;

}
.main_item section:nth-child(2){
    overflow: hidden;

}

.main_item section:nth-child(2) aside:nth-child(1){
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: black;
}

.main_item section:nth-child(2) article{
    float:left;
    margin-left: 10%;
    margin-top: 30px;
    background-color: white;
    margin-right: 10%;
    box-shadow: black;
}


.main_item section:nth-child(2) article p,strong{
float: left;
margin-right: 10px;
}

.main_item section:nth-child(2) article h2{
    text-align: center;
}

.main_bucket{
    display: inline-block;
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    text-align: center;
}

#main_bucket .all_bucket {
    background-image: url(../images/saveur.main.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main_bucket .all_bucket .txt_bucket{
    position: absolute;
    background-color: black;
    opacity: 0.6;
    color: white;
    margin: 0 auto;
    top: 50%;
    left: 30%;
    height: 70px;
    text-align: center;
    height: 11%;
}

.main_item section:nth-child(2) article h2{
    margin-top: -5%;
}

.main_bucket{
    background-image: url(../images/saveur.main.jpg);
}